<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.photogram">

    <uses-permission android:name=
        "android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name=
        "android.permission.INTERNET"/>

    <uses-feature android:name=
        "android.hardware.camera2"
        android:required="true"/>



    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_final"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_final"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Feed.subir_foto"></activity>
        <activity android:name=".Inicio.LoginModerador" />
        <activity android:name=".Inicio.RegistroPerfil" />
        <activity android:name=".Moderador.FeedModerador" />
        <activity android:name=".Inicio.RegistrarUsuario" />
        <activity android:name=".Feed.Feed" />
        <activity android:name=".Mensajeria.ChatIndividualGUI" />
        <activity android:name=".Mensajeria.ChatsGUI" />
        <activity android:name=".Inicio.Iniciar_Sesion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
  </application>

</manifest>